@import "tailwindcss";
@import "tw-animate-css";

:root {
  font-family: var(--font-stack-sans), sans-serif;
}
@theme {
  --color-teal: #12f7d6;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  min-height: 100vh;
  width: 100%;
  color: white;
  background: #1e242b;
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation: fadeUp 0.8s ease forwards;
}

.fade-up-delay-1 {
  animation: fadeUp 0.8s ease forwards;
  animation-delay: 0.2s;
}

.fade-up-delay-2 {
  animation: fadeUp 0.8s ease forwards;
  animation-delay: 0.4s;
}

.fade-up-delay-3 {
  animation: fadeUp 0.8s ease forwards;
  animation-delay: 0.6s;
}
.typewriter {
  display: inline-block;
  border-right: 3px solid #14b8a6; /* teal cursor */
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(30) forwards, blink 0.7s infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: #14b8a6;
  }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
}
