@import "tailwindcss";
@import "tw-animate-css";

:root {
  font-family: var(--font-stack-sans), sans-serif;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  min-height: 100vh;
  width: 100%;
  color: white;
  background-color: black;
}
